.dashboard-search, .dashboard-gallery
  width: 100%
  background: #48C9B0
  padding: 20px
  box-shadow: 0px 0px 4px #747474

.dashboard-search
  height: 134px
  margin: 0 auto
  margin-top: 40px

.dashboard-gallery
  height: 400px
  margin-top: 20px

  .bottom-nav
    top: -10px
    position: relative

  .dashboard-gallery-item
    width: 140px
    float: left
    // margin-right: 10px
    list-style: none

.dashboard-menu
  width: 500px
  margin: 0px auto
  height: 40px


.dashboard-edit-gallery
  height: 400px
  width: 700px
  margin: 40px auto
  overflow: auto

  .edit-gallery-item
    width: 485px
    height: 160px

    %img
      float: left
      margin-right: 10px
      width: 150px

    .values
      width: 200px
      float: right

// .popular input
//   width: 50px

.breadcrumb
  padding: 0px
  font-size: 13px
  margin-bottom: 0px

  input
    margin: 0

.breadcrumb-menu
  padding-bottom: 0px

.main-menu
  margin-top: 24px
  a
    margin-right: 15px
    color: #464646
    font-size: 15px

  &:hover
    color: #464646
    font-size: 15px

.jcarousel-list
  height: 360px

.jcarousel-skin-tango .jcarousel-container-horizontal
  width: 1140px

.jcarousel-skin-tango .jcarousel-clip-horizontal
  width:  1050px
  height: 320px

.jcarousel-skin-tango .jcarousel-item
  height: 320px !important
  width: 320px !important

.jcarousel-skin-tango .jcarousel-prev-horizontal
  left: -6px
  top: 154px

.jcarousel-skin-tango .jcarousel-next-horizontal
  top: 154px

