.main
  width: 100%
  min-height: 600px
  border: 1px solid red

  .logo
    width: 400px
    margin: 0 auto
    position: relative

  .content
    width: 100%
    min-height: 500px
    border: 1px solid pink

.popup-container
  width: 100%
  position: fixed
  top: 200px
  margin: 0 auto

  .popup
    display: none
    width: 600px
    height: 300px
    margin: 0 auto
    position: relative
    border: 1px solid red

.error
  border: 1px solid red

.link
  cursor: pointer
  text-decoration: underline

