.edit-images
  .image
    margin: 5px

.index-movies
  a
    padding: 30px
  .movie
    .title
      width: 100%

.show-lists
  .item
    min-height: 300px !important

.content .row
  padding-left: 30px

.movies-show

  .col-md-12
    clear: both

  .navigation-links
    a
      margin: 10px

  .show-add-item
    margin-top: 10px
    height: 45px

    .btn
      width: 210px

  .movies-show-main
    height: 270px

