- unless notice.blank?
  %p.notice
    = notice
- unless alert.blank?
  %p.alert
    = alert

.main
  %a.logo{ href: "/#"}
    %img{ src: "http://placehold.it/550x125" }

  .content.js-content

.footer
  - if current_user && current_user.user_type == "admin"
    %h4
      Manage content
    %ul
      %li.col-md-12
        %a{ href: "#admin/movies" }
          Manage movies
      %li.col-md-12
        %a{ href: "#admin/people" }
          Manage people
      %li.col-md-12
        %a{ href: "#admin/galleries" }
          Manage galleries
      %li.col-md-12
        %a{ href: "#admin/users" }
          Manage users

.popup-container
  .popup

